[submodule "zz-packages/bandix/luci-app-bandix"]
	path = zz-packages/bandix/luci-app-bandix
	url = https://github.com/timsaya/luci-app-bandix.git
[submodule "zz-packages/bandix/openwrt-bandix"]
	path = zz-packages/bandix/openwrt-bandix
	url = https://github.com/timsaya/openwrt-bandix.git
[submodule "zz-packages/theme/luci-theme-alpha"]
	path = zz-packages/theme/luci-theme-alpha
	url = https://github.com/derisamedia/luci-theme-alpha.git
	branch = master
